@media screen and (min-width: 670px) {
    .gallery {
        grid-template-columns: 1fr 1fr;
    }

    header,
    main,
    footer {
        max-width: 1000px;
    }

    #menu {
        display: none;
        /* Hide the hamburger button */
    }

    .navigation {
        display: flex;
        /* Always visible on larger screens */
        flex-direction: row;
        position: static;
        background-color: transparent;
        box-shadow: none;
    }

    .navigation a {
        display: block;
        padding: 0.5rem 1rem;
    }
}

@media screen and (min-width: 970px) {
    .gallery {
        grid-template-columns: 1fr 1fr 1fr;
    }

    header,
    main,
    footer {
        max-width: 1500px;
    }

    #menu {
        display: none;
    }

    .navigation {
        flex-direction: row;
    }

    .navigation a {
        display: block;
        flex: 1 1 100%;
    }
}